<style>
h2 {text-align: center;}
h2 {color:#555555;}
h2 {font-family: calibri;}
h2 {font-size: 40px;}
h2 {font-weight: normal;}
p.dank {text-align: center;}
p.dank {font-family: calibri;}
p.dank {font-size: 20px;}
p.dank {color: #a7a7a7;}
hr {color: #a7a7a7;}
hr {margin-left: 80px}
hr {margin-right: 80px;}
</style>

</br></br></br>

<h2> About </h2>
<hr>
<p class="dank"> Welcome to CSGORPS.com; a jackpot of csgo skins where the winner is determined by no other than the classic, rock, paper, and scissors (with a small twist.) </p>
<hr>
<br>
<p class="dank"> When first presented upon the site; you sign in using steam and choose if you would like to deposit some skins. You are limited to a singular ten skin deposit every game; however there is no value limit that your skins may reach. You will then decide whether you want to choose Rock, Paper, or scissors. Depending on the percentage of value you deposited for your team; your vote will count for more. Once everyone has decided on their choice, both teams pie charts showing the distributions will spin, ultimatley choosing the winner.</p>
