<style>
h2 {color: #a7a7a7}
h2 {font-family: Myriad Pro}
h2 {margin-top: 160px}
h2 {font-size: 40px}
h2 {
  position: fixed;
  font-weight: 100;
  z-index: -2;
}
h2.rock {
  margin-left: 32%;
}
h2.paper {
  margin-left: 47%;
}
h2.scissors {
  margin-left: 61%;
}
</style>


<h2 class="rock"> Rock </h2>
<h2 class="paper"> Paper </h2>
<h2 class="scissors"> Scissors </h2>



<div class="wallpaper">

</div>

<nav>
    <ul class="nav">
        <li>
          <a href="#" id="rock" class="icons">
            <span class="icon-circle"></span>
            <span class="screen-reader-text">rock</span>
          </a>
        </li>
        <li>
          <a href="#" id="paper" class="icons">
            <span class="icon-paper-plane-1"></span>
            <span class="screen-reader-text">paper</span>
          </a></li>
        <li>
          <a href="#" id="scissors" class="icons">
            <span class="icon-scissors"></span>
            <span class="screen-reader-text">scissors</span>
          </a>
        </li>
        
    </ul>
</nav>​

