<style>
h1 {color:grey}
h1 {font-family: Serif}
h1 {margin-top: 100px}
h1 {font-size: 40px}
</style>


<h2> Rock </h2>
<h2> Paper </h2>
<h2> Scissors </h2>


<nav>
    <ul class="nav">
        <li>
          <a href="#">
            <span class="icon-circle"></span>
            <span class="screen-reader-text">rock</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon-paper-plane-1"></span>
            <span class="screen-reader-text">paper</span>
          </a></li>
        <li>
            <a href="#">
            <span class="icon-scissors"></span>
            <span class="screen-reader-text">scissors</span>
          </a>
        </li>
        
    </ul>
</nav>​